@charset "UTF8";

/* removendo espaçamento e margem padrão de TODOS OS ELEMENTOS */
* {
    margin: 0;
    padding: 0;
}

/* BACKGROUND ------------------------------------------ */
div.back_content {
    background-image: linear-gradient(140deg, black, rgb(102, 208, 250));
    height: 100vh;

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* BACKGROUND OF CALCULATOR ---------------------------- */
div#section {
    /* centralizando o elemento absoluto (e a calculadora) */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px;

    border-radius: 50px;

    background-color: rgba(156, 156, 156, 0.2);
}

/* CALCULATOR ------------------------------------------ */
div.calculator {
    position: relative;

    background-color: rgba(0, 0, 0, 0.7);

    border-radius: 15px;
    padding: 15px;
}

/* TABLE */
table#tbl_cal {
    position: relative;

    margin: auto;
}

/* BUTTONS */
button.btn {
    background-color: rgb(31, 31, 31);
    border: none;

    width: 50px;
    height: 50px;

    font-size: 25px;
    color: white;

    cursor: pointer; /* alterando o cursor */

    margin: 2px;
}

button.btn:hover {
    background-color: black;
}

/* RESULT */
p#result {
    background-color: white;
    width: 214px;
    height: 30px;

    margin: 5px;
    padding: 5px;

    text-align: right;
    font-size: 25px;
    color: black;
}